/target/
/node_modules/
/packages/*/node_modules/
/apps/*/node_modules/
/apps/*/dist/
/app_examples/target/
/app_examples/*/target/
*.profraw
lcov.info
coverage/
/web/pkg/
/web/widgets/pkg/
/web/examples/*/pkg/
__pycache__/
