<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:name="android.hardware.vulkan.level"
        android:required="false" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:hasCode="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${galleryLabel}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/ArguiTheme">
        <activity
            android:name="${galleryActivity}"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout|uiMode"
            android:exported="true"
            android:label="${galleryLabel}"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.lib_name"
                android:value="main" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="dev.argui.android.ForegroundTaskService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>
</manifest>
